APP_URL=http://localhost:3333
NODE_ENV=development


# Auth
APP_SECRET=bootcampmeetupnode


# Database
DB_HOST=localhost
DB_USER=postgres
DB_PASS=docker
DB_NAME=meetapp


# Mongo
MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_NAME=meetapp


# Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379


# Mail
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USER=b0bb8c73249fac
MAIL_PASS=3f99fd4377d117


# Sentry
SENTRY_DSN=https://5e39df62ed2647e49c64f843dd8f6c15@sentry.io/1722541
